.campo {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
    height: 15px; /* Asegura que el espacio esté reservado incluso si no hay mensaje de error */
    display: block;
}